

body {
    background-color: antiquewhite;
}
h1 {
    color:crimson;
    font-size:5.0em;
    width: 100%;
    height: 20px;
    padding: 10px;
    border: 1px solid black;
    margin: 10px;
}