





.mainImage {
    display: block;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 25%;
    padding-right: 25%;
    height: auto;
    width: 50%;
    background-color:rgb(241, 203, 153);
    align-self: center;
    
    
}

/* 
        Everything below this has not been 
        verified as optimized for Desktop AND Mobile
*/



/*
  This section BELOW is for testing chunks of css styles

*/

/*
  This section ABOVE is for testing chunks of css styles

*/






